<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>로그인</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div id="container">
		<h2>로그인</h2>
		<form th:action="@{/system/login}" method="post">
			<table class="tbl_login">
				<tr>
					<td>아이디</td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td>비밀번호</td>
					<td><input type="password" name="password"></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<button type="submit">로그인</button>
					</td>
				</tr>
			</table>
			<input type="hidden" name="${_csrf.parameterName }" value="${_csrf.token }" />
		</form>
	</div>

</body>
</html>