@charset "UTF-8";

*{margin: 0; padding: 0;}
.header{width: 100vw; height: 20vh; background-color: aqua;}
.content{width: 100vw; height: 70vh; background-color: beige;}
.footer{width: 100vw; height: 10vh; background-color: green;}