<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
      
<meta charset="utf-8">

<th:block layout:fragment="script">
    <script th:inline="javascript">
  		$(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/board/list/" + page + "?searchBy=" + searchBy
            		+ "&searchQuery=" + searchQuery;
        }   
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
   
    </style>
</th:block>

<div layout:fragment="content" style="margin-left:25%; margin-right:25%">
	<form th:action="@{'/board/list/' + ${boards.number}}" role="form" method="get" th:object="${boards}">
	<table class="table table-striped my-4">
		<thead>
	        <tr>
	            <td>#</td>
	            <td>제목</td>
	            <td>작성자</td>
	            <td>작성일</td>
	            <td>조회수</td>
	        </tr>
        </thead>
        <tbody>
        	<tr th:each="board, status : ${boards.getContent()}">
        		<td th:text="${board.id}"></td>
        		<td><a th:href="@{'/board/read/' + ${board.id}}"
				       th:text="${board.title}"></a></td>
        		<td th:text="${board.createdBy}"></td>
        		<td th:text="${#temporals.format(board.regTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        		<td th:text="${board.cnt}"></td>
        	</tr>
        </tbody>
	</table>
		<!-- 페이지 처리 시작 -->
        <div th:with="start=${(boards.number/maxPage)*maxPage + 1}, 
             end=(${(boards.totalPages == 0) ? 1 : 
                    (start + (maxPage - 1) < boards.totalPages ? start + (maxPage - 1) : boards.totalPages)})" >
            <ul class="pagination justify-content-center">
				<!-- Prevoius 버튼 -->
                <li class="page-item" th:classappend="${boards.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${boards.number - 1} + ')'" 
                       aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>
				<!-- 현재 페이지 -->
                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" 
                    th:classappend="${boards.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" 
                       class="page-link">[[${page}]]</a>
                </li>
				<!-- Next 버튼 -->
                <li class="page-item" th:classappend="${boards.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${boards.number + 1} + ')'" 
                       aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>
            </ul>
        </div>
		<!-- 페이지 처리 끝 -->
		<!-- 검색 시작 -->
        <div class="form-inline justify-content-center" th:object="${boardSearchDto}">
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="createdBy">작성자</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
        <!-- 검색 끝 -->
	
	</form>
	<div align="right">
		<a th:href="@{/board/register}" class="btn btn-primary">글쓰기</a>
	</div>
</div>

</html>