<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
	<title>메인 페이지</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h2>게시글 목록</h2>
		<p>
			<span sec:authorize="isAuthenticated()">
				<font color="red">
					[<span sec:authentication="principal.member.name" class="name"></span>]
				</font>님 환영합니다...
				<a th:href="@{/system/logout}">로그아웃</a>&nbsp;&nbsp;
				<a th:href="@{/admin/adminPage}">게시판 관리</a>
			</span>
		</p>
		<hr>
		<!-- 검색 폼 시작-->
		<form th:action="@{/board/getBoardList}" method="get">
			<select name="searchCondition">
				<option value="TITLE">제목</option>
				<option value="CONTENT">내용</option>
			</select>
			<input type="text" name="searchKeyword" class="keyword">
			<button type="submit">검색</button>
		</form>
		<!-- 검색 폼 종료 -->
		<table class="tbl_list">
			<thead>
				<tr>
					<th>번호</th><th>제목</th><th>작성자</th><th>등록일</th><th>조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board : ${boardList}">
					<td th:text="${board.seq}"></td>
					<td><a th:href="@{/board/getBoard(seq=${board.seq})}"
						th:text="${board.title}"></a></td>
					<td th:text="${board.member.name}"></td>
					<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
					<td th:text="${board.cnt}"></td>
				</tr>
			</tbody>
		</table>
		<p>
			<a th:href="@{/board/insertBoard}">
				<button type="button">새글 등록</button>
			</a>
		</p>
	</div>

</body>
</html>