<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
	<title>글 쓰기</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h2>글 쓰기</h2>
		<form th:action="@{/board/insertBoard}" method="post" encType="multipart/form-data">
			<input type="hidden" name="${_csrf.parameterName }" value="${_csrf.token }" />
			<table class="tbl_reg">
				<tbody>
					<tr>
						<td th:text="제목"></td>
						<td><input type="text" name="title"></td>
					</tr>
					<tr>
						<td th:text="작성자"></td>
						<td sec:authentication="principal.member.name" class="left"></td>
					</tr>
					<tr>
						<td th:text="내용"></td>
						<td>
							<textarea name="content" rows="10" cols="50"></textarea>
						</td>
					</tr>
					<tr>
						<td th:text="파일업로드"></td>
						<td><input type="file" name="uploadFile"></td>
					</tr>
					<tr>
						<td colspan="2">
							<button type="submit">새글 등록</button>
						</td>
					</tr>
				</tbody>
			</table>
		
		</form>
	</div>

</body>
</html>