<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<meta charset="UTF-8">
	<div th:fragment="header">
		<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}">HiWeb</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/member/login}">로그인</a>
                </li>
                <li style="padding-top: 7px; color: #ddd" sec:authorize="isAuthenticated()">
                	[<span sec:authentication="principal.member.name"></span>]님
               	</li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/member/logout}">로그아웃</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <!-- <a class="nav-link" 
                    th:href="@{/member/view}">나의 정보</a> -->
                    <a class="nav-link" 
                    th:href="@{/member/view(userid=${#authentication.getPrincipal().getUsername()})}">나의 정보</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/board/list}">게시판</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin/adminPage}">관리자</a>
                </li>
            </ul>
        </div>
    </nav>
	</div>
</html>