<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

	<meta charset="UTF-8">
	
	<div layout:fragment="content" class="content">
		<h2>글쓰기</h2>
		<form th:action="@{/guestbook/register}" method="post">
			<div class="form-group row">
				<label>제목</label>
				<input type="text" name="title" class="form-control"
					placeholder="제목 입력">
			</div>
			<div class="form-group row">
				<label>내용</label>
				<textarea name="content" rows="5" class="form-control"
					placeholder="내용 입력"></textarea>
			</div>
			<div class="form-group row">
				<label>작성자</label>
				<input type="text" name="writer" class="form-control"
					placeholder="작성자 입력">
			</div>
			<button type="submit" class="btn btn-primary">등록</button>
		</form>
	</div>
</html>