<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

	<meta charset="UTF-8">
	
	<div layout:fragment="content" class="content">
		<h1>게시글 목록</h1>
		<!-- 검색 폼 -->
		<form th:action="@{/board/list}" method="get" class="mt-4" 
			id="searchForm">
			<div class="input-group">
				<input type="hidden" name="page" value="1">
				<div class="input-group-prepend">
					<select name="type" class="custom-select">
						<option th:selected="${pageRequestDto.type == null}">-----------------</option>
						<option th:value="t" th:selected="${pageRequestDto.type == 't'}">제목</option>
						<option th:value="c" th:selected="${pageRequestDto.type == 'c'}">내용</option>
						<option th:value="w" th:selected="${pageRequestDto.type == 'w'}">작성자</option>
						<option th:value="tc" th:selected="${pageRequestDto.type == 'tc'}">제목+내용</option>
						<option th:value="tcw" th:selected="${pageRequestDto.type == 'tcw'}">제목+내용+작성자</option>
					</select>				
				</div>
				<input type="text" name="keyword" class="form-control"
					th:value="${pageRequestDto.keyword}">
				<div class="input-group-prepend">
					<button type="button" class="btn btn-outline-secondary btn-search">검색</button>
				</div>
			</div>
		</form>
		<!-- 검색 폼 -->
		<table class="table table-striped my-4">
			<thead>
				<tr>
					<th>#</th><th>제목</th><th>작성자</th><th>등록일</th><th>조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dto : ${result.dtoList}">
					<td>[[${dto.bno}]]</td>
					<td>
						<a th:href="@{/board/read(bno=${dto.bno}, page=${result.page}, type=${pageRequestDto.type}, keyword=${pageRequestDto.keyword})}">[[${dto.title}]]</a>
						------- [<b th:text="${dto.replyCount}"></b>]
					</td>
					<td>[[${dto.writerName}]]<small>([[${dto.writerUserid}]])</small></td>
					<!-- <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}]]</td> -->
					<td th:text="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
					<!-- <td>[[${dto.cnt}]]</td> -->
					<td th:text="${dto.cnt}"></td>
					
				</tr>
			</tbody>
		</table>
		<!-- 페이지 처리 -->
		<ul class="pagination justify-content-center align-item-center">
			
			<!-- prev -->
			<li class="page-item" th:if="${result.prev}">
				<a th:href="@{/board/list(page=${result.start-1}, type=${pageRequestDto.type}, keyword=${pageRequestDto.keyword})}" 
					class="page-link">Previous
				</a>
			</li>
			
			<!-- 현재 페이지 -->
			<li th:class="'page-item ' + ${result.page == page ? 'active' : ''}" 
				th:each="page : ${result.pageList}">
				<a th:href="@{/board/list(page=${page}, type=${pageRequestDto.type}, keyword=${pageRequestDto.keyword})}" class="page-link">
					[[${page}]]
				</a>
			</li>
			
			<!-- next -->
			<li class="page-item" th:if="${result.next}">
				<a th:href="@{/board/list(page=${result.end+1}, type=${pageRequestDto.type}, keyword=${pageRequestDto.keyword})}" 
					class="page-link">Next
				</a>
			</li>
		</ul>
		<!-- 페이지 처리 -->
		<div align="right">
			<a th:href="@{/board/register}" class="btn btn-primary">글쓰기</a>
		</div>
		<!-- 모달 창 -->
		<div class="modal" tabindex="-1">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Modal title</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>게시글이 등록되었습니다.</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- 모달 창 -->
		
		<!-- 자바 스크립트 영역 -->
		<script th:inline="javascript">
			$(document).ready(function(){
				
				let msg = [[${msg}]];
				
				//gno(글번호)가 있으면 모달 창이 열림
				if(msg){
					$(".modal").modal('show');
				}
				
				//검색 폼 전송
				let searchForm = $("#searchForm");
				
				$(".btn-search").click(function(){
					searchForm.submit();
				});
				
				checkModal(msg);	//글 번호 등록 함수 호출
				
				function checkModal(msg){
					if(parseInt(msg) > 0){
						$(".modal-body").html("게시글 " + parseInt(msg) + "번이 등록되었습니다.");
					}
					//$(".modal").modal('show');
				}
				
				//모달 창 닫기
				$(".close").click(function(){
					$(".modal").modal('hide');
				});
				
			});
		
		</script>
	</div>
</html>