
/* common 스타일 */
#container{width: 1000px; margin: 20px auto;text-align: center}
a{text-decoration: none;}
h2{padding-top: 20px;}

/* getBoardList 스타일*/
.tbl_list{width: 700px; margin: 0 auto; text-align: center;}
.tbl_list, th, td{border: 1px solid #ccc; border-collapse: collapse;}
.tbl_list th, td{padding: 10px;}
.tbl_list thead{background: #eee;}

/* insertBoard 스타일*/
.tbl_reg{width: 700px; margin: 0 auto;}
.tbl_reg, td{border: 1px solid #ccc; border-collapse: collapse;}
.tbl_reg td{padding: 10px;}
.tbl_reg input{width: 580px; height: 25px;}
.tbl_reg textarea{width: 580px;}


