<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

	<meta charset="UTF-8">
	
	<div layout:fragment="content" class="content">
		<h2>게시글 상세 보기</h2>
		<form th:action="@{/board/update}" method="post" class="mt-4">
			<div class="form-group row">
				<label>번호</label>
				<input type="text" name="bno" class="form-control"
					th:value="${dto.bno}" readonly="readonly">
			</div>
			<div class="form-group row">
				<label>제목</label>
				<input type="text" name="title" class="form-control"
					th:value="${dto.title}">
			</div>
			<div class="form-group row">
				<label>내용</label>
				<textarea name="content" rows="5" 
					class="form-control">[[${dto.content}]]</textarea>
			</div>
			<div class="form-group row">
				<label>작성자</label>
				<input type="text" name="writer" class="form-control"
					th:value="${dto.writerName}" readonly="readonly">
			</div>
			<div class="form-group row">
				<label>등록일</label>
				<input type="text" name="regDate" class="form-control"
					th:value="${dto.regDate}" readonly="readonly">
			</div>
			<a th:href="@{/board/list(page=${requestDto.page}, type=${requestDto.type}, keyword=${requestDto.keyword})}" class="btn btn-primary">목록</a>
		</form>
		<!-- 댓글 영역 시작 -->
		<div>
			<div class="mt-4">
				<h5>
					<span class="badge badge-info addReply">Add Reply</span>
				</h5>
				<h5>
					<span class="badge badge-secondary replyCount">Reply Count [[${dto.replyCount}]]</span>
				</h5>
			</div>		
			<!-- 댓글 목록 -->
			<div class="list-group replyList">
			</div>
		</div>
		<!-- 댓글 영역 종료 -->
		<!-- 댓글 편집 모달 창 -->
		<div class="modal" tabindex="-1">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">댓글 편집</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div class="form-group">
		        	<input type="text" name="text" class="form-control"
		        		placeholder="Reply Text">
		        </div>
		        <div class="form-group">
		        	<input type="text" name="replyer" class="form-control"
		        		placeholder="Replyer">
	        		<input type="hidden" name="rno">
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary replyClose" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary replySave">Save</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- 댓글 편집 모달 창 -->
		<!-- 자바스크립트 영역 -->
		<script th:inline="javascript">
			$(document).ready(function(){
				let bno = [[${dto.bno}]];
				
				//댓글 목록
				let listGroup = $(".replyList");
				
				//날짜/시간 처리
				function formatTime(str){
					let date = new Date(str);
					
					return date.getFullYear() + '/' +
							(date.getMonth() + 1) + '/' +
							date.getDate() + ' ' +
							date.getHours() + ':' +
							date.getMinutes();
				}
				
				//댓글 처리 함수
				function loadJSONData(){
					$.getJSON("/replies/board/" + bno, function(arr){
						console.log(arr);
						
						let str = "";
						$(".replyCount").html("Reply Count " + arr.length);
						
						$.each(arr, function(idx, reply){
							console.log(reply);
							str += '<div class="card">';
							str += '<div class="card-body" data-rno="'+ reply.rno +'">' + reply.rno;
							str += '<h5 class="card-title">'+ reply.text +'</h5>';
							str += '<h6 class="card-subtitle mb-2 text-muted">' + reply.replyer + '</h6>';
							str += '<p class="card-text">'+ formatTime(reply.regDate) +'</p>';
							str += '</div>';
							str += '</div>';
						});
						listGroup.html(str);	//댓글 목록
					});
				}
				$(".replyCount").click(function(){
					loadJSONData();	//호출
				});
				
				//댓글 등록 모달 폼
				let modal = $(".modal");
				
				$(".addReply").click(function(){
					modal.modal('show');
					//댓글 입력 초기화
					//$('input[name="text"]').val("");
					//$('input[name="replyer"]').val("");
					$(".replySave, .replyClose").show();
				});
				
				//모달 창 닫기
				$(".replyClose").click(function(){
					modal.modal('hide');
					
				});
				
				//댓글 등록 처리
				$(".replySave").click(function(){
					
					//객체(댓글) 생성
					let reply = {
						bno: bno,
						text: $('input[name="text"]').val(),
						replyer: $('input[name="replyer"]').val()
					};
					
					$.ajax({
						url: "/replies/",
						method: "post",
						data: JSON.stringify(reply),
						contentType: "application/json; charset=utf-8",
						dataType: "json",
						success: function(data){
							console.log(data);
							
							let newRno = parseInt(data);
							alert(newRno + "번 댓글이 등록되었습니다.");
							modal.modal('hide');
							loadJSONData();		//댓글 목록(새로 고챔)
						}
					});
				});
			});
		</script>
	</div>
</html>