<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>메인 페이지</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<!-- menu.html의 nav 태그 삽입 -->
	<div th:replace="menu.html::nav"></div>
	<div id="container">
		<h2>메인 페이지입니다.</h2>
		<img alt="커피" src="/static/images/coffee-gray.jpg">
		<!-- <p>
			<a href="boardError">BoardException 발생</a>&nbsp;&nbsp;
			<a href="illegalArgumentError">illegalArgumentException 발생</a>&nbsp;&nbsp;
			<a href="sqlError">SQLException 발생</a>
		
		</p> -->
	</div>

</body>
</html>